@model IList<CourseViewModels.ModuleViewModel>

<div id="toc" class="panel-group" id="accordion" role="tablist">
    @for(var i = 0; i<Model.Count; i++)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <div class="panel-title clearfix">
                    <div class="pull-left">
                        <a role="button" tabindex="0" data-toggle="popover" title="Description" data-content="@Model[i].Description"><i class="fa fa-info-circle fa-lg fa-fw"></i></a>
                        <span> @Model[i].Title</span>
                    </div>
                    <div class="pull-right">
                        @Html.DisplayFor(m => m[i].Duration)
                    </div>
                </div>
            </div>
            <div class="panel-collapse collapse" role="tabpanel">
                <ul class="list-group">
                    @{ var topics = Model[i].Topics;}
                    @for (var j = 0; j < Model[i].Topics.Count; j++)
                    {
                        <li class="list-group-item clearfix">
                            <div class="pull-left">@topics[j].Title</div>
                            <div class="pull-right">@Html.DisplayFor(m => m[i].Topics[j].Duration)</div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }

</div>

