@model TM.Data.Update.Statistic

<span>@Html.DisplayNameFor(model => model.Categories): @Html.DisplayFor(model=>model.Categories)</span><br/>
<span>@Html.DisplayNameFor(model => model.Courses): @Html.DisplayFor(model=>model.Courses)</span><br/>
<span>@Html.DisplayNameFor(model => model.Authors): @Html.DisplayFor(model => model.Authors)</span><br/>